.wrapper {
  /* background-color: #e59560; */

  color: #1d3124;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.monthList {
  margin-bottom: 30px;
}
.month {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 15px;
}

.employee {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}
.deleteBtn {
   margin-right: 20px;
   cursor: pointer;
}
.deleteBtn::before,
.deleteBtn::after {
   content: '';
   position: absolute;
   top: 2px;
   left: 0;
   width: 3px;
   height: 15px;
   background-color: #1d3124;
   transform: rotate(45deg);
}
.deleteBtn::after{
   transform: rotate(-45deg);
}
.deleteBtn :hover {
   background-color: #fff;
}
