.employeeWrapper {
   margin-bottom: 15px;
   background-color: #1d3124;
   color: #bacec1;
   padding-left: 10px;
   border-radius: 10px;
}
.employeeName {
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
}
.active {
   color: #e59560;
}